*,
*:before,
*:after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 18px;
}

ul {
  padding: 20px;

  display: flex;
  flex-direction: column;
  gap: 50px;

  font-size: 32px;

  border-left: 4px solid red;
  border-radius: 10px;

  background: #eee;

}

ul li:last-child {
  background-color: #ddd;
  border-radius: 10px;
}

ul ul {
  font-size: 24px;
  border-left: 3px solid #00ee0f;
}

ul ul ul {
  padding: 0;

  font-size: 16px;
  display: block;
  border-left: 2px solid #0015ff;
  width: 172px;
}

li {
  list-style-type: none;
  padding: 6px;

  user-select: none;

  transition: all .1s ease-in;
}

li:hover {
  cursor: pointer;
  margin: 10px;
}

ul li:hover {
  transform: scale(1.1);
  color: #3ee;
}


ul li ul li:hover {
  color: #00ee0f;
}

ul li ul li ul li:hover {
  color: #ff0000;
}

ul li.active {
  background-color: #ff0000;
}

ul ul ul li a:active {
  color: darkorange;
}

ul li ul li ul li:last-child {
  color: purple;
}