* {
  box-sizing: border-box;
}

#container {
  width: 100% !important;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

#container:fullscreen {
  background-color: rgb(141, 179, 189);
}

#closeScreen {
  top: 45%;
  left: 45%;
  display: none;
  padding: 10px;
  font-weight: bold;
  position: absolute;
  color: white;
  border: 3px solid dodgerblue;
  border-radius: 10px;
  background-color: dodgerblue;
}